In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [11]:
df=pd.read_csv('data/raw.csv')

In [12]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [13]:
df.shape

(1000, 8)

In [14]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

In [15]:
df.duplicated().sum()

0

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [23]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

In [24]:
df['gender'].unique()

array(['female', 'male'], dtype=object)

In [25]:
df['race_ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [26]:
df['parental_level_of_education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [27]:
df['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

In [29]:
df['test_preparation_course'].unique()

array(['none', 'completed'], dtype=object)

In [30]:
df.columns

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course', 'math_score', 'reading_score',
       'writing_score'],
      dtype='object')

In [32]:
df['gender'].dtype

dtype('O')

In [33]:
numerical_features=[]
categorical_features=[]

In [37]:
for i in df.columns:
    if df[i].dtype!='O':
        numerical_features.append(i)
    if df[i].dtype=='O':
        categorical_features.append(i)

In [38]:
numerical_features

['math_score', 'reading_score', 'writing_score']

In [39]:
categorical_features

['gender',
 'race_ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course']

In [40]:
df['total_score']=df['math_score']+df['reading_score']+df['reading_score']
df['average']=df['total_score']/3
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score,total_score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,216,72.000000
1,female,group C,some college,standard,completed,69,90,88,249,83.000000
2,female,group B,master's degree,standard,none,90,95,93,280,93.333333
3,male,group A,associate's degree,free/reduced,none,47,57,44,161,53.666667
4,male,group C,some college,standard,none,76,78,75,232,77.333333

watch https://www.youtube.com/watch?v=MMSMBMFnRMk&list=PLTDARY42LDV7jzL_f68SY-eOQ9tY2lYvR&index=10 for more